* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  padding-bottom: 20px;
  margin: 1rem auto 3rem;
  width: 100%;
  color: #146C94;
}

.title > span {
  border-bottom: 2px solid #146C94;
}

.btn > a {
  text-decoration: none;
  color: #F6F1F1;
}

.btn-standar > a {
  text-decoration: none;
  color: #F6F1F1;
}

/*** BUTTONS STYLES ***/

.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px 25px;
  padding: 10px 5px;
  border-radius: 0;
  border-style: none;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.button-container-navbar .btn {
  position: relative;
}

.button-container-navbar .btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s ease-in-out;
}

.button-container-navbar .btn:hover::after {
  width: 100%;
}

.btn-standar {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px 25px;
  border-radius: 0;
  border-style: none;
  border: 1px solid #F6F1F1;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 35px;
  position: relative;
}

.btn-standar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #AFD3E2;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.btn-standar:hover {
  border-color: #AFD3E2;
}

.btn-standar:hover::before {
  width: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR STYLES */

.navbar {
  transition: 0.75s;
  width: 100%;
  height: auto;
  background-color: none;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.navbar_bg {
  transition: 0.75s;
  background-color: #146C94;
  z-index: 99;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.navbar .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.navbar .button-container-navbar {
  width: 50%;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/* HERO SECTION */

.home__sec {
  background-image: url('../img/home-pic.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: auto;
}

.home__sec .container-fluid {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.3575630935968137) 0%, rgba(0, 0, 0, 0.5928572112438726) 29%, rgba(0, 0, 0, 0.7805322812718838) 62%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
}

.home__sec .container-fluid .container__hero {
  width: 80%;
  text-align: left;
}

.home__sec .container-fluid .container__hero h1 {
  padding: 0 0 0 15rem;
  color: #F6F1F1;
  font-family: 'Pathway Extreme', sans-serif;
  font-size: 65px;
  text-align: left;

}

/******** OUR PROJECTS SECTION ********/

.projects__sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F1F1;
}

.projects__content {
  display: flex;
  flex-direction: row;
}

.projects__content-invert {
  display: flex;
  flex-direction: row-reverse;
}

.projects__content-intro {
  width: 50%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__content-intro > .title{
  text-align: left;
}

.projects__content-intro > p{
  text-align: left;
  font-family: 'Pathway', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  padding: 30px 0 30px;
  margin-right: 80px;
  letter-spacing: 2px;
  line-height: 40px;
  color: #353535;
}

.projects__content-figure {
  width: 50%;
  background-color: #AFD3E2;
  padding: 150px 80px;
}

/****** FOOTER SECTION *******/

.footer__sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 300px 0 10px;
  background-color: #19A7CE;
}

.footer__content-intro > p {
  color: #F6F1F1;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.footer__content-intro > p > a {
  text-decoration: none;
  color: #F6F1F1;
}

/****** MEDIA QUERIES *******/

@media (min-width: 1180px) {

}