* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.content {
  position: relative;
  display: block;
}

.hidden {
  display: none;
}

.content::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  bottom: 150px;
  left: 0;
  background-image: url('../img/mundo_ingeorbe.png');
  background-size: cover;
  z-index: -999;
}

.content::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  background-image: url('../img/mundo_ingeorbe.png');
  background-size: cover;
  z-index: -999;
}

.projects__page::before {
  width: 400px;
  height: 400px;
}

.title {
  font-size: 2.8rem;
  padding-bottom: 20px;
  margin: 1rem auto 1rem;
  width: 100%;
  color: #C1A57B;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.075rem;
  color: #AFD3E2;
  text-transform: uppercase;
}

.btn>a {
  text-decoration: none;
  color: #F6F1F1;
}

.btn-standar>a {
  text-decoration: none;
  color: #F6F1F1;
}

/*** BUTTONS STYLES ***/

.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 10px 25px;
  padding: 10px 5px;
  border-radius: 0;
  border-style: none;
  border: none;
  background-color: transparent;
  color: #DDE6ED;
  cursor: pointer;
}

.button-container-navbar .btn {
  position: relative;
}

.button-container-navbar .btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #DDE6ED;
  transition: width 0.5s ease-in-out;
}

.button-container-navbar .btn:hover::after {
  width: 100%;
}

.btn-standar {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 25px;
  border-radius: 0;
  border-style: none;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 35px;
  position: relative;
}

.btn-standar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #146C94;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.btn-standar:hover {
  border-color: #DDE6ED;
  color: #DDE6ED;
  font-weight: 500;
}

.btn-standar:hover::before {
  width: 100%;
}

.btn-standar-mobile {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 25px;
  border-radius: 0;
  border-style: none;
  border: 1px solid #AFD3E2;
  background-color: transparent;
  color: #AFD3E2;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 25px;
  margin-top: 40px;
  position: relative;
  display: none;
}

.btn-standar-mobile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #C1A57B;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}
.btn-project-mobile {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 25px;
  border-radius: 0;
  border-style: none;
  border: 1px solid #30475E;
  background-color: transparent;
  color: #30475E;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 25px;
  margin-top: 40px;
  position: relative;
  display: none;
}

.btn-standar:hover {
  border-color: #DDE6ED;
  color: #DDE6ED;
  font-weight: 500;
}

.btn-standar:hover::before {
  width: 100%;
}

/* END ACCORDION LIBRARY */

h2 {
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR STYLES */

.navbar {
  transition: 0.75s;
  width: 100%;
  height: auto;
  background-color: none;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  z-index: 99;
}

.navbar_bg {
  transition: 0.75s;
  background-color: #C1A57B;
  z-index: 99;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.navbar .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;

  & .logo_svg {
    height: 50px;
    width: 300px !important;
  }
}

.navbar .button-container-navbar {
  width: 50%;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar .button-container-navbar>span {
  color: #DDE6ED;
  font-size: 30px;
}

.navbar .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/* HERO SECTION */

.home__sec .container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 5%;
  background-image: url('../img/header-2.jpg');
  background-size: cover;
  position: relative;
}

.home__sec .container-filter {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(48,71,94,0.6321122198879552) 40%, rgba(48,71,94,0.8057816876750701) 66%);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home__sec .container-fluid .container-uvp {
  width: 100%;
  text-align: center;
}

.home__sec .container-fluid .container-uvp h1 {
  color: #fff;
  font-family: 'Pathway Extreme', sans-serif;
  font-size: 40px;
  letter-spacing: 6px;
  text-transform: uppercase;
  
  & span {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 4px !important;
    text-transform: uppercase;
  }
}

.img_hero {
  width: 100%;
}


.container-figure.fade-in:before {
  opacity: 1;
}

/******** VISION SECTION ********/

.vision__sec {
  width: 100%;
  display: grid;
  place-items: start;
  margin: 0 auto;
  /* padding-top: 100px; */

  & .vision__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    padding: 100px 0 30px 200px;
    position: relative;

    &::before {
      content: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #C1A57B;
    }

    &::after {
      content: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translate(-5px, -5px);
      border: 1px solid #C1A57B;
    }

    & .subtitle {
      color: #30475E;
      font-size: 24px;
    }

    & .title {
      margin-top: 0 !important;
      text-align: left;
    }

    & .copy_text {
      text-align: justify;
      font-family: 'Pathway', sans-serif;
      font-style: normal;
      font-weight: 100;
      width: 80%;
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 25px;
      color: #222831;
    }
  }
}

/******** OUR SERVICES SECTION ********/

.services__sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  margin-top: 8%;
}

.services__content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  & .service_align {
    text-align: center !important;
  }

  & .title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 42px;
  }

  & .subtitle {
    color: #30475E;
    width: 80%;
    text-align: right;
    font-size: 24px;
  }

  & .swiper {
    width: 100% !important;
    height: 100% !important;
    max-height: 500px;

    & .arrows-control {
      position: absolute;
      bottom: 5%;
      left: 34%;
      width: 150px;
      height: 50px;
      z-index: 100;

      & .swiper-button-prev:after,
      .swiper-button-next:after {
        color: #C1A57B;
        transform: scale(0.5);
      }
    }
  }
}

.services__slider:before {
  background-color: #30475E;
  position: absolute;
  display: block;
  content: '';
  width: 95%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  margin: auto 0;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.services__content:after {
  background-color: #AFD3E2;
  position: absolute;
  display: block;
  content: '';
  width: 95%;
  height: 110%;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -99;
  margin: auto 0;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  opacity: 0.5;
}

.services__slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 30px 0;
  position: relative;
  .swiper-wrapper {
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center !important;
    max-height: 500px !important;
  }
}


.services__content-intro {
  width: 45%;
  padding: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  & .subtitle {
    padding-bottom: 1rem;
    font-size: 30px;
    color: #AFD3E2;
  }

  & article .copy_text {
    text-align: right;
    font-family: 'Pathway', sans-serif;
    font-style: normal;
    font-weight: 100;
    width: 70%;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 25px;
    color: #DDE6ED;
  }
}





.services__content-intro>.title {
  text-align: right;
}

.services__content-intro>article {
  display: contents;
}

.services__content-figure {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-left: 100px;
}


/******** ADVANTAGES SECTION ********/

.advantages__sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  margin-top: 150px;
}

.advantages__content {
  display: flex;
  flex-direction: row;
  position: relative;
}

.advantages__content:before {
  background-color: #30475E;
  position: absolute;
  display: block;
  content: '';
  width: 95%;
  height: 80%;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin: auto 0;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.advantages__content:after {
  background-color: #AFD3E2;
  position: absolute;
  display: block;
  content: '';
  width: 95%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -99;
  margin: auto 0;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  opacity: 0.5;
}

.advantages__content-intro {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.advantages__content-intro>.title {
  text-align: left;
  margin-top: 0;
}

.advantages__content-intro>.subtitle {
  margin-left: 0;
  font-size: 24px;
}

.advantages__content-intro>article>.copy_text {
  text-align: left;
  font-family: 'Pathway', sans-serif;
  font-style: normal;
  font-weight: 100;
  width: 60%;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 25px;
  color: #DDE6ED;
}

.advantages__content-figure {
  width: 40%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 30px 100px 30px;
  position: relative;
}

.advantages__content-figure>.adv__figure {
  height: 100%;
  width: 100%;
}

.advantages__content-figure>.adv__figure>img {
  width: 100%;
  height: 100%;
}

.advantages__content-figure::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  z-index: 100;
  border: 2px solid #C1A57B;
}

/******** CLIENTS SECTION ********/

.clients__sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  margin: 110px 0;
}

.clients__content {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.clients__content:before {
  background-color: #fff;
  position: absolute;
  display: block;
  content: '';
  width: 95%;
  height: 80%;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  margin: auto 0;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  box-shadow: -4px 4px 39px 15px rgba(0,0,0,0.54);
-webkit-box-shadow: -4px 4px 39px 15px rgba(0,0,0,0.54);
-moz-box-shadow: -4px 4px 39px 15px rgba(0,0,0,0.54);
}

.clients__content:after {
  background-color: #AFD3E2;
  position: absolute;
  display: block;
  content: '';
  width: 95%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -99;
  margin: auto 0;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  opacity: 0.5;
}

.clients__content-intro {
  width: 45%;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.clients__content-intro>.title {
  text-align: right;
  margin-top: 0;
}
.clients__content-intro>.subtitle {
  font-size: 24px;
  color: #30475E;
}

.clients__content-intro>article {
  display: contents;
}

.clients__content-intro>article>.copy_text {
  text-align: right;
  font-family: 'Pathway', sans-serif;
  font-style: normal;
  font-weight: 100;
  width: 60%;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 25px;
  color: #222831;
}

.clients__content-logos {
  width: 55%;
  display: grid;
  place-content: center;
}

/* .logos-slider {
  max-width: 500px;
  width: 100%;
} */

.logo_client_container {

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;


}

.swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: grid;
  place-content: center;
  place-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


/****** CONTACT SECTION *****/


.contact__sec {
  background-color: #AFD3E2;
}


.contact__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150px;
  width: 100%;
  position: relative;

  & .contact__content-title {
    width: 40%;
    display: grid;
    place-items: center;
    text-align: center;
    color: #C1A57B;
    font-size: 18px;

  }

  & .contact__content-phone {
    width: 30%;

    & h3 {
      color: #30475E;
      font-size: 22px;
      font-family: 'Montserrat', sans-serif;
    }

    & p {
      color: #30475E;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
    }
  }

  & .contact__content-email {
    width: 30%;

    & h3 {
      color: #30475E;
      font-size: 22px;
      font-family: 'Montserrat', sans-serif;
    }

    & p {
      & a {
        text-decoration: none;
        color: #30475E;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        transition: all 0.3s ease-in-out;
      }

      & a:hover {
        color: #C1A57B;
      }
    }
  }
}




/****** FOOTER SECTION *******/

.footer__sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  background-color: #AFD3E2;
}

.footer__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 50px 0;
  gap: 100px;
  position: relative;
}

.footer__content::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #30475E;
  width: 90%;
  bottom: 0;
}

.footer__content-logo {
  width: 30%;
  height: 100%;
}

.footer__content-copyright {
  width: 100%;
  padding: 20px;
  background-color: #AFD3E2;

  & .lead {
    text-align: center;
    color: #30475E;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;

    & a {
      text-decoration: none;
      color: #30475E;
      transition: all 0.3s ease-in-out;
    }

    & a:hover {
      color: #C1A57B;
    }

  }
}



/***************** PAGE PROJECTS ******************/

/******** OUR PROJECTS SECTION ********/

.projects__sec-mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  padding: 15% 0;
}

.projects__content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  & .service_align {
    text-align: center !important;
  }

  & .title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 42px;
  }

  & .subtitle {
    color: #30475E;
    padding-bottom: 20px !important;
    width: 80%;
    text-align: right;
  }

  & .swiper {
    width: 100% !important;
    height: 100% !important;
    max-height: 400px;

    & .arrows-control {
      position: absolute;
      bottom: 5%;
      left: 34%;
      width: 150px;
      height: 50px;
      z-index: 100;

      & .swiper-button-prev:after,
      .swiper-button-next:after {
        color: #C1A57B;
        transform: scale(0.5);
      }
    }
  }
}

.projects__slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 30px 0;
  position: relative;
}


.projects__content-intro {
  width: 45%;
  padding: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  & .subtitle {
    padding-bottom: 3rem;
    font-size: 30px;
    color: #AFD3E2;
  }

  & article .copy_text {
    text-align: right;
    font-family: 'Pathway', sans-serif;
    font-style: normal;
    font-weight: 100;
    width: 70%;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 25px;
    color: #DDE6ED;
  }
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center !important;
}

.projects__content-intro>.title {
  text-align: right;
}

.projects__content-intro>article {
  display: contents;
}

.projects__content-figure {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-left: 100px;
}

.projects__sec {
  text-align: center;
  padding: 50px 0 0;
  & .subtitle {
    color: #30475E;
    font-size: 24px;
  }
  & .title {
    margin-top: 0;
  }
  .projects__content-right {
    display: flex;
    flex-direction: row;
    padding: 40px 0 0;
  
    & .projects__content-intro {
      width: 50%;
      padding: 0 30px;
      align-items: center;
      & .subtitle {
        text-align: center;
        color: #C1A57B !important;
      }
      & article > p {
        text-align: justify !important;
        color:#222831
      }
    }
    & .projects__content-figure {
      width: 50%;
      padding: 0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        border: 3px solid #C1A57B;
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      & figure {
        & img {
          object-fit: contain;
          height: 100%;
        }
      }
    }
  }
  .projects__content-left {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px 0 0;
  
    & .projects__content-intro {
      width: 50%;
      padding: 0 30px;
      align-items: center;
      & .subtitle {
        text-align: center;
        color: #30475E;
      }
      & article > p {
        text-align: justify !important;
        color: #222831;
  
      }
    }
    & .projects__content-figure {
      width: 50%;
      padding: 0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        border: 3px solid #30475E;
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      & figure {
        & img {
          object-fit: contain;
          height: 100%;
        }
      }
    }
  }
}




/****** MEDIA QUERIES TABLET *******/

@media (max-width: 840px) {

  .content::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: 150px;
    left: 0;
    background-image: url('../img/mundo_ingeorbe.png');
    background-size: cover;
    z-index: -999;
  }

  .content::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    background-image: url('../img/mundo_ingeorbe.png');
    background-size: cover;
    z-index: -999;
  }

  .logo_svg {
    width: 80px !important;
    margin: 30px 0;
  }

  .logo-container {
    width: 100% !important;
    margin: 0 auto;
  }

  .navbar_bg {
    height: 100px;
  }

  .button-container {
    display: none !important;
  }

  .button-container-navbar {
    display: none !important;
  }

  .btn-standar-mobile {
    display: block !important;
    color: #fff;
    border-color: #fff;
  }

  .btn-project-mobile {
    display: block !important;
    margin: 30px auto;
  }


  /****** HERO *******/

  .home__sec .container-fluid {
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
  }

  .container-fluid::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
    background-color: #30475E;
    width: 100%;
    height: 100%;
    display: block;
  }

  .home__sec .container-fluid .container-uvp {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__sec .container-fluid .container-uvp h1 {
    margin-top: 30px;
    font-size: 38px;
    text-align: center;
  }

  .home__sec .container-fluid .container-figure {
    width: 80%;
  }

  /******** VISION SECTION ********/

  .vision__sec {

    & .vision__content {
      width: 80%;
      padding: 50px 0;
      margin: 0 auto;

      & .copy_text {
        width: 80%;
      }
    }
  }


  /******** OUR SERVICES SECTION ********/

  .services__content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    & .title {
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 42px;
    }

    & .subtitle {
      color: #30475E;
    }

    & .swiper {
      max-height: 500px;

      & .arrows-control {
        left: 27%;

        & .swiper-button-prev:after,
        .swiper-button-next:after {
          color: #C1A57B;
          transform: scale(0.5);
        }
      }
    }
  }

  .services__slider:before {
    width: 100%;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
  }

  .services__content:after {
    width: 100%;
    clip-path: polygon(0% 0%, 83% 0%, 100% 50%, 83% 100%, 0% 100%);
  }

  .services__slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 30px 0;
    position: relative;
  }


  .services__content-intro {
    padding: 80px 0;

    & .subtitle {
      color: #AFD3E2;
    }

    & article .copy_text {
      width: 85%;
      font-size: 14px;
    }
  }

  .swiper-wrapper {
    height: 100%;
  }

  .services__content-figure {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-left: 60px;

    & img {
      height: 100%;
      object-fit: contain;
    }
  }

  /******** ADVANTAGES SECTION ********/

  .advantages__content:before {
    width: 100%;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  }

  .advantages__content:after {
    width: 100%;
  }

  .advantages__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advantages__content-figure {
    margin: 20px 40px 20px 60px;
    height: 80%;
  }

  .advantages__content-intro {
    padding: 70px 0;
  }

  .advantages__content-intro>article>.copy_text {
    width: 80%;
    font-size: 14px;
  }

  /******** CLIENTS SECTION ********/

  .clients__content:before {
    width: 100%;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
  }

  .clients__content:after {
    width: 100%;
    clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
  }

  .clients__content-intro>article>.copy_text {
    width: 80%;
    font-size: 14px;
  }




  /****** CONTACT SECTION *****/

  .contact__content {

    & .contact__content-title {
      font-size: 16px;
    }

    & .contact__content-phone {
      & h3 {
        font-size: 18px;
      }

      & p {
        font-size: 14px;
      }
    }

    & .contact__content-email {
      & h3 {
        font-size: 18px;
      }

      & p {
        & a {
          font-size: 14px;
        }
      }
    }
  }

  /****** FOOTER SECTION *******/

  .footer__content {
    flex-direction: column;
    gap: 50px;
    padding: 50px;
  }

  .footer__content-logo {

    width: auto;
    height: 100%;
  }

  .footer__content-us {
    width: 70%;
  }

  .footer__content-info {
    width: 70%;
    align-self: center;

  }

  
  
  /******** OUR PROJECTS SECTION ********/
  

  .projects__sec {
    text-align: center;
    padding: 50px 0 0;
    & .subtitle {
      color: #30475E;
      font-size: 24px;
    }
    & .title {
      margin-top: 0;
    }
    .projects__content-right {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 40px 0 0;
    
      & .projects__content-intro {
        width: 100%;
        padding: 0 30px;
        align-items: center;
        & .subtitle {
          text-align: center;
          color: #C1A57B !important;
          padding-top: 30px;
          width: 80%;
        }
        & article > p {
          text-align: justify !important;
          color:#222831;
          padding-bottom: 30px;
        }
      }
      & .projects__content-figure {
        width: 80%;
        padding: 0;
        & figure {
          & img {
            object-fit: contain;
            /* width: 80%; */
          }
        }
      }
    }
    .projects__content-left {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 40px 0 0;
    
      & .projects__content-intro {
        width: 100%;
        padding: 0 30px;
        align-items: center;
        & .subtitle {
          text-align: center;
          color: #30475E;
          padding-top: 40px;
          width: 80%;
        }
        & article > p {
          text-align: justify !important;
          color: #222831;
          padding-bottom: 30px;
        }
      }
      & .projects__content-figure {
        width: 80%;
        padding: 0;
        & figure {
          & img {
            object-fit: contain;
            /* width: 80%; */
          }
        }
      }
    }
  }
  

}


/****** MEDIA QUERIES MOBILE *******/

@media (max-width: 630px) {

  .content::before {
    width: 300px;
    height: 300px;
    background-color: transparent;
    bottom: 17.2rem;
    z-index: -1;
  }

  .content::after {
    width: 300px;
    height: 300px;
    background-color: transparent;
  }


  /* NAVBAR STYLES */

  .navbar {

    display: flex;

  }

  /****** HERO *******/

  .container-figure {
    margin-top: 80px;

  }

  .home__sec .container-fluid {
    height: 90vh;
  }

  .home__sec .container-fluid .container-uvp {
    width: 90%;
  }

  .home__sec .container-fluid .container-uvp h1 {
    font-size: 32px;
  }

  .home__sec .container-fluid .container-figure {
    width: 100%;
  }

  .container-figure:before {
    content: none;
  }

  /******** VISION SECTION ********/

  .vision__sec {
    margin: 0 auto;
    & .vision__content {
      width: 80%;
      padding: 50px 0;

      & .copy_text {
        width: 100%;
      }
    }
  }


  /******** OUR SERVICES SECTION ********/

  .services__sec {
    & .swiper {
      max-height: 750px;

      & .swiper-slide {
        max-height: 790px !important;
        flex-direction: column-reverse !important;
      }

      & .arrows-control {
        bottom: 10%;
        left: 32%;
      }
    }
  }

  .services__slider:before {
    background-color: #30475E;
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: -1;
    margin: auto 0;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
  }

  .services__content:after {
    content: none;
  }

  .services__content-intro {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;

    & .subtitle {
      padding: 2rem 0;
      font-size: 30px;
      color: #AFD3E2;
      text-align: center;
    }

    & article .copy_text {
      text-align: center;
    }
  }

  .swiper-slide {
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
  }

  .services__content-figure {
    width: 100%;
    padding-left: 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      z-index: 100;
      border: 2px solid #C1A57B;
    }
  }

  /******** ADVANTAGES SECTION ********/


  .advantages__content {
    flex-direction: column;
  }

  .advantages__content:before {
    content: '';
    width: 100%;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0% 100%);
    height: 100%;
    width: 100%;
  }

  .advantages__content:after {
    content: '';
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(175, 211, 226, 1) 5%);
  }

  .advantages__content-intro {
    width: 100%;
    padding: 60px 40px;
  }

  .advantages__content-intro>article>.copy_text {
    width: 100%;
  }

  .advantages__content-figure {
    /* padding: 60px 40px 30px; */
    margin: 50px auto 20px;
    width: 100%;
    max-width: 320px;
  }

  .advantages__content-figure>.adv__figure>img {
    width: 100%;
  }


  /******** CLIENTS SECTION ********/

  .clients__sec {
    margin-top: 0;
  }

  .clients__content {
    flex-direction: column-reverse;
  }

  .clients__content:before {
    content: '';
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
    height: 100%;
    width: 100%;
    background-color: none;
  }

  .clients__content:after {
    content: none;
  }

  .clients__content-intro {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 200px;

    & h3 {
      color: #30475E;
    }

    & h2 {
      margin-bottom: 0;
    }

    & article>.copy_text {
      color: #222831;
    }
  }

  .clients__content-intro>article>.copy_text {
    width: 100%;
  }

  .clients__content-figure {
    padding: 60px 40px 30px;
    width: 100%;
  }

  .clients__content-figure>.adv__figure>img {
    width: 300px;
  }


  /****** CONTACT SECTION *****/

  .contact__content {
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 40px;

    & .contact__content-title {
      font-size: 16px;
      width: 80%;
    }

    & .contact__content-phone {
      width: 70%;

      & h3 {
        font-size: 18px;
      }

      & p {
        font-size: 14px;
      }
    }

    & .contact__content-email {
      width: 70%;

      & h3 {
        font-size: 18px;
      }

      & p {
        & a {
          font-size: 14px;
        }
      }
    }
  }

  /****** FOOTER SECTION *******/

  .footer__content-us {
    width: 100%;
  }

  .footer__content-info {
    width: 100%;
  }

  /******** OUR PROJECTS SECTION ********/


  .projects__sec {
    .projects__content-right {
      & .projects__content-intro {
        & article > p {
          width: 95% !important;
        }
      }
    }
    .projects__content-left {
      & .projects__content-intro {
        & article > p {
          width: 95% !important;
        }
      }
    }
  }
  


}